* {
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01: #171219;
  --col-02: #f2fbeb;
  --col-03: #5252ff;
  --col-04: #b6e878;
  font-size: 16px;
}

body {
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
}


button {
  margin: 7px 2px;
  padding: 15px 60px;
  background-color: #caf4aa;
  border: 2px solid #9bdda9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  /* Set the appearance, size and other data of all the buttons on the whole page */
}


#button1:hover {
  box-shadow: 0 9px #999;
  background-color: #caf4aa;
  /* Give the button a hovering effect and the button appears as a shadow */

}

#button1:active {
  background-color: #67c86a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  /* Give the transform property so that the colour of the button changes when the mouse clicks on it */
}


#button2 {
  opacity: 0.6;
  transition: 0.3s;
  /* Adjusts the degree of opacity of the button colour and gives the transition time */
  background-color: #caf4aa;

}

#button2:hover {
  opacity: 1
  /* Gives the button colour change on mouse hover */
}

#button3:hover {
  border-radius: 8px;
  border: 2px solid #9bdda9;
  background-color: #caf4aa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Give the button shadow data and make the shadow appear on mouse hover */
}

#button4:hover {
  transform: translateY(-15px);
  /* Make button 4 move up -15px */
  background-color: #caf4aa;
}

#button4::before {
  /* Create a pseudo-element in front of button 4 (button 4 move up, shadow under button) */
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  /* Adding rounded borders to pseudo elements */
  transform: scale(0);
  /* Indicates simultaneous horizontal and vertical scaling of the same magnification */
  transition: 0.5s;
}

#button4:hover::before {
  /* Set the pseudo-element before the button4 link to achieve the effect after mouse hover */
  transform: scale(1);
  /* Indicates horizontal and vertical scaling of the same magnification */
  bottom: -15px;
  /* Giving the pseudo-element a downward movement effect */
}

#button5 {
  transition: 0.3s linear;
  /* Set the transition time */
  background-color: #caf4aa;
}

#button5:hover {
  font-size: 16px;
  transform: rotateX(25deg);
  /* Set the movement data of the button in the X-axis direction */
  box-shadow: 0 15px 15px #9bdda9;
  /* Set the shadow of the button */
  
}

#button6 {
  background-color: #caf4aa;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #9bdda9;
  display: inline-block;
}

#button6 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* Generate relatively positioned elements */
  transition: 0.5s;
    /* Set the transition time */
}

#button6 span:after {
  content: '\00bb';
  position: absolute;
  /* Generate absolutely positioned elements */
  opacity: 0;
  top: 0;
  right: -20px;
  /* Allow -20px of space to the right of the button */
  transition: 0.5s;
}

#button6:hover span {
  padding-right: 25px;
  /* Make the button move to the right 25 */

}

#button6:hover span:after {
  opacity: 1;
  right: 0;
}


#modeButton {
  transition: 0.3s linear;
  background-color: #caf4aa;
}

#modeButton:hover {
  font-size: 16px;
  transform: rotateY(-25deg);
  /* Set the movement data of the button in the Y-axis direction */
  box-shadow: 0 15px 15px #9bdda9;
   /* Set the shadow of the button */
}



section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption {
  width: fit-content;
}

dl ul {
  margin-bottom: 0;
}

li {
  font-size: 1rem;
}

dd {
  padding-left: 60px;
}

li ul {
  padding-left: 40px;
}

.img-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img {
  width: 80%;
}

.res-columns {
  column-width: 25rem;
}



/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }

  .img-wrapper {
    width: 75%;
    margin: 1.5rem auto;
  }
}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 24px;
  }

  .img-wrapper {
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }
}